.te-brightcove-video {
  .video-js {
    width: 100%;
    height: 450px;
  }

  .vjs-error .vjs-error-display::before {
    content: "\F026"; // alert
    font-size: 42px;
    font-family: "Material Design Icons", sans-serif;
  }
}
