.disabled {
  cursor: default;
  pointer-events: none;
}

.form-group {
  width: 100%;
  margin: 0 auto;
  padding: 25px 20px 15px 20px;
  text-align: left;
  overflow: hidden;
}

.form-label {
  font-size: 20px;
}
